[Unit]
Description=Auto-update Fedora Toolbx from remote image
Wants=network-online.target
After=network-online.target

[Service]
Type=oneshot
ExecStart=%h/.local/bin/toolbox-update

[Install]
WantedBy=default.target
