{{- $fullName := promptStringOnce . "fullName" "Personal name" -}}
{{- $email := promptStringOnce . "email" "Personal email address" -}}
{{- $workName := promptStringOnce . "workName" "Work name" -}}
{{- $workEmail := promptStringOnce . "workEmail" "Work email address" -}}
{{- $workOneDriveName := promptStringOnce . "workOneDriveName" "Work OneDrive name" -}}
{{- $deviceType := promptStringOnce . "deviceType" "desktop or laptop" -}}
{{- $environment := promptStringOnce . "environment" "home or work" -}}

[data]
    fullName = {{ $fullName | quote }}
    email = {{ $email | quote }}
    workName = {{ $workName | quote }}
    workEmail = {{ $workEmail | quote }}
    workOneDriveName = {{ $workOneDriveName | quote }}
    deviceType = {{ $deviceType | quote }}
    environment = {{ $environment | quote }}
