{{- $fullName := promptStringOnce . "fullName" "Full name" -}}
{{- $email := promptStringOnce . "email" "Email address" -}}
{{- $deviceType := promptStringOnce . "deviceType" "Desktop or Laptop" -}}
{{- $environment := promptStringOnce . "environment" "Home or work" -}}

[data]
    fullName = {{ $fullName | quote }}
    email = {{ $email | quote }}
    deviceType = {{ $deviceType | quote }}
    environment = {{ $environment | quote }}
