LICENSE
README.md

{{ if eq .chezmoi.os "linux" }}
AppData
AppData/**
OneDrive - VINCI Energies
OneDrive - VINCI Energies/**
{{ if not (and (eq .environment "home") (eq .deviceType "desktop")) }}
.config/environment.d
.local/bin/gnome-switch-layout
{{ end }}
{{ if not (contains "WSL" .chezmoi.kernel.osrelease) }}
.chezmoiscripts/linux/wsl/**
.config/.gnupg/gpg-agent.conf
.ssh/aws-ssm-ssh-proxy-command.sh
{{ end }}
{{ if (contains "WSL" .chezmoi.kernel.osrelease) }}
.chezmoiscripts/linux/native/**
.config/systemd/user/toolbox*
.local/bin/gnome*
.local/bin/toolbox*
.local/share/icons/vscode.png
.local/share/applications/code*
{{ end }}
{{ else }}
.chezmoiscripts/linux/**
{{ end }}

{{ if eq .chezmoi.os "windows" }}
.bashrc.d
.bashrc.d/**
.config/environment.d
.config/environment.d/**
.config/Code
.config/Code/**
.config/systemd
.config/systemd/**
.gnupg
.gnupg/**
.local
.local/**
.ssh
.ssh/**
.zshrc
{{ else }}
.chezmoiscripts/windows/**
{{ end }}
