{{- if eq .environment "home" -}}
[include]
	path = ~/.config/git/personal
{{- else if eq .environment "work" -}}
[includeIf "gitdir:/home/{{ .chezmoi.username }}/git/personal/"]
	path = ~/.config/git/personal
[includeIf "gitdir:/mnt/c/Users/{{ .chezmoi.username }}/Git/personal/"]
	path = ~/.config/git/personal
[includeIf "gitdir:/home/{{ .chezmoi.username }}/git/work/"]
	path = ~/.config/git/work
[includeIf "gitdir:/mnt/c/Users/{{ .chezmoi.username }}/Git/work/"]
	path = ~/.config/git/work
{{- end }}
[color]
	ui = auto
	diff = auto
	status = auto
	branch = auto
[alias]
	cl = clone
	ci = commit
	co = checkout
	st = status
	br = branch -la
	lo = log --oneline
	fe = fetch --tags --prune
	unstage = reset HEAD --
	last = log -1 HEAD
[init]
	defaultBranch = main
[pull]
	ff = only
[push]
	autoSetupRemote = true
{{- if (contains "WSL" .chezmoi.kernel.osrelease) }}
[credential]
	helper = /mnt/c/Program\\ Files/Git/mingw64/bin/git-credential-manager.exe
{{- end }}
