{{- if eq .environment "home" -}}
[include]
	path = ~/.config/git/personal
{{- else if eq .environment "work" }}
{{- if (and (eq .chezmoi.os "linux") (contains "WSL" .chezmoi.kernel.osrelease)) }}
[includeIf "gitdir:{{ .chezmoi.homeDir }}/.local/share/chezmoi/"]
	path = ~/.config/git/personal
[includeIf "gitdir:{{ .chezmoi.homeDir }}/git/personal/"]
	path = ~/.config/git/personal
[includeIf "gitdir:{{ .chezmoi.homeDir }}/git/work/"]
	path = ~/.config/git/work
[includeIf "gitdir:/mnt/c/Users/{{ .chezmoi.username }}/OneDrive - {{ .workOneDriveName }}/Documents/PowerShell/"]
	path = ~/.config/git/personal
[includeIf "gitdir:/mnt/c/Users/{{ .chezmoi.username }}/Git/work/"]
	path = ~/.config/git/work
{{ else if eq .chezmoi.os "windows" -}}
[includeIf "gitdir:{{ .chezmoi.homeDir }}/.local/share/chezmoi/"]
	path = ~/.config/git/personal
[includeIf "gitdir:{{ .chezmoi.homeDir }}/OneDrive - {{ .workOneDriveName }}/Documents/PowerShell/"]
	path = ~/.config/git/personal
[includeIf "gitdir:{{ .chezmoi.homeDir }}/Git/work/"]
	path = ~/.config/git/work
{{- end }}
{{- end }}
{{- if (and (eq .chezmoi.os "linux") (contains "WSL" .chezmoi.kernel.osrelease)) -}}
[credential]
	helper = /mnt/c/Program\\ Files/Git/mingw64/bin/git-credential-manager.exe
{{- end }}
{{- if eq .chezmoi.os "windows" }}
[http]
	sslBackend = schannel
[core]
	autocrlf = input
[gpg]
	program = C:\\Program Files\\GnuPG\\bin\\gpg.exe
[credential]
	helper = manager
{{- end }}
[color]
	ui = auto
	diff = auto
	status = auto
	branch = auto
[alias]
	cl = clone
	ci = commit
	co = checkout
	st = status
	br = branch -la
	lo = log --oneline
	fe = fetch --tags --prune
	unstage = reset HEAD --
	last = log -1 HEAD
[init]
	defaultBranch = main
[pull]
	ff = only
[push]
	autoSetupRemote = true
