bindkey -e

setopt histignorealldups sharehistory

HISTFILE={{ if eq .chezmoi.osRelease.id "fedora" }}~/.histfile{{ else if eq .chezmoi.osRelease.id "ubuntu" }}~/.zsh_history{{ end }}
HISTSIZE=1000
SAVEHIST=1000

autoload -Uz compinit
compinit

zstyle ':completion:*' auto-description 'specify: %d'
zstyle ':completion:*' completer _expand _complete _correct _approximate
zstyle ':completion:*' format 'Completing %d'
zstyle ':completion:*' group-name ''
zstyle ':completion:*' menu select=2
eval "$(dircolors -b)"
zstyle ':completion:*:default' list-colors ${(s.:.)LS_COLORS}
zstyle ':completion:*' list-colors ''
zstyle ':completion:*' list-prompt %SAt %p: Hit TAB for more, or the character to insert%s
zstyle ':completion:*' matcher-list '' 'm:{a-z}={A-Z}' 'm:{a-zA-Z}={A-Za-z}' 'r:|[._-]=* r:|=* l:|=*'
zstyle ':completion:*' menu select=long
zstyle ':completion:*' select-prompt %SScrolling active: current selection at %p%s
zstyle ':completion:*' use-compctl false
zstyle ':completion:*' verbose true

zstyle ':completion:*:*:kill:*:processes' list-colors '=(#b) #([0-9]#)*=0=01;31'
zstyle ':completion:*:kill:*' command 'ps -u $USER -o pid,%cpu,tty,cputime,cmd'

source /usr/share/zsh-autosuggestions/zsh-autosuggestions.zsh
source /usr/share/zsh-syntax-highlighting/zsh-syntax-highlighting.zsh
{{- if eq .chezmoi.osRelease.id "fedora" }}
source /usr/share/fzf/shell/key-bindings.zsh
{{- else if eq .chezmoi.osRelease.id "ubuntu" }}
source /usr/share/doc/fzf/examples/key-bindings.zsh
{{- end }}

eval "$(starship init zsh)"

ZSH_HIGHLIGHT_STYLES[path]='none'

export EDITOR=vim
export PAGER=less
{{- if not (contains "Microsoft" .chezmoi.kernel.osrelease) }}
export VISUAL=code
{{- end }}
export BROWSER={{ if not (contains "Microsoft" .chezmoi.kernel.osrelease) }}firefox{{ else }}/c/Program\ Files/Firefox\ Developer\ Edition/firefox.exe{{ end }}

{{ if (contains "Microsoft" .chezmoi.kernel.osrelease) -}}
export LESS="-eirMX"
export WINHOME=/c/Users/{{ .chezmoi.username }}
export VAGRANT_WSL_ENABLE_WINDOWS_ACCESS="1"
export VBOX_MSI_INSTALL_PATH="/c/Program Files/Oracle/VirtualBox/"
export VAGRANT_EXPERIMENTAL="disks"
export GPG_TTY=$(tty)
#export SSH_AUTH_SOCK=/c/Users/{{ .chezmoi.username }}/AppData/Local/wsl-ssh-agent/ssh-agent.sock
#export PATH=~/.local/bin:$PATH
{{- end }}

{{- if eq .chezmoi.osRelease.id "fedora" }}
alias code="toolbox run code"
alias firefox="flatpak-spawn --host --env=TERM=xterm-256color firefox"
{{- end }}

{{- if eq .chezmoi.osRelease.id "ubuntu" }}
alias ll="ls --color=auto -alF"
{{- end }}
