{
    "telemetry.telemetryLevel": "off",
{{- if (and (eq .deviceType "laptop") (eq .environment "home")) }}
    "window.zoomLevel": 1,
{{- end }}
    "window.titleBarStyle": "custom",
    "window.autoDetectColorScheme": true,
    "workbench.preferredLightColorTheme": "Solarized Light",
    "workbench.preferredDarkColorTheme": "Default Dark Modern",
    "editor.fontFamily": "Inconsolata, 'Droid Sans Mono', 'Liberation Mono', Consolas, 'Lucida Console', 'Courier New', monospace",
{{- if (or (eq .deviceType "desktop") (eq .environment "work")) }}
    "editor.fontSize": 16,
{{- else if (and (eq .deviceType "laptop") (eq .environment "home")) }}
    "editor.fontSize": 15,
{{- end }}
    "editor.copyWithSyntaxHighlighting": false,
    "editor.accessibilitySupport": "off",
    "editor.defaultFormatter": "esbenp.prettier-vscode",
    "diffEditor.renderSideBySide": true,
    "diffEditor.ignoreTrimWhitespace": false,
    "files.insertFinalNewline": true,
    "files.associations": {
        "*.ign": "json",
        "*.bu": "yaml",
        "*.bu.j2": "jinja-yaml"
    },
    "[shellscript]": {
        "files.encoding": "utf8",
        "files.eol": "\n",
        "editor.tabSize": 2,
        "editor.insertSpaces": true,
        "editor.rulers": [80, 120],
        "editor.defaultFormatter": "foxundermoon.shell-format"
    },
    "[powershell]": {
        "files.encoding": "windows1252",
        "files.eol": "\r\n"
    },
    "[vbscript]": {
        "files.encoding": "windows1252",
        "files.eol": "\r\n"
    },
    "[markdown]": {
        "editor.wordWrap": "off"
    },
    "[yaml]": {
        "editor.tabSize": 2,
        "editor.insertSpaces": true
    },
    "[xml]": {
        "editor.defaultFormatter": "redhat.vscode-xml"
    },
    "[dockercompose]": {
        "editor.insertSpaces": true,
        "editor.tabSize": 2,
        "editor.autoIndent": "advanced",
        "editor.defaultFormatter": "redhat.vscode-yaml"
    },
    "[github-actions-workflow]": {
        "editor.defaultFormatter": "redhat.vscode-yaml"
    },
    "markdownlint.config": {
        "MD024": { "siblings_only": true }
    },
    "shellcheck.customArgs": [
        "-x"
    ],
    "ansible.lightspeed.enabled": false,
    "ansible.lightspeed.suggestions.enabled": false,
    "redhat.telemetry.enabled": false,
    "gitlens.telemetry.enabled": false,
    "partialDiff.enableTelemetry": false
}
