{
    "telemetry.telemetryLevel": "off",
{{- if eq .deviceType "laptop" }}
    "window.zoomLevel": 1,
{{- end }}
    "window.titleBarStyle": "custom",
    "workbench.colorTheme": "Solarized Light",
    "editor.fontFamily": "Inconsolata, 'Droid Sans Mono', 'monospace', monospace",
{{- if eq .deviceType "laptop" }}
    "editor.fontSize": 15,
{{- end }}
    "files.insertFinalNewline": true,
    "editor.copyWithSyntaxHighlighting": false,
    "[shellscript]": {
        "files.encoding": "utf8",
        "editor.tabSize": 2,
        "editor.rulers": [80, 120]
    },
    "[powershell]": {
        "files.encoding": "windows1252"
    },
    "markdownlint.config": {
        "MD024": { "siblings_only": true }
    },
    "shellcheck.customArgs": [
        "-x"
    ],
    "gitlens.telemetry.enabled": false,
    "partialDiff.enableTelemetry": false
}
