#!/usr/bin/env bash
# .config/systemd/user/toolbox-autoupdate.service hash: {{ include "dot_config/systemd/user/toolbox-autoupdate.service" | sha256sum }}
# .config/systemd/user/toolbox-autoupdate.timer hash: {{ include "dot_config/systemd/user/toolbox-autoupdate.timer" | sha256sum }}

if [[ ! -f /run/.toolboxenv ]]; then
  exit 0
fi

systemctl --user daemon-reload
case $(systemctl --user is-enabled toolbox-autoupdate.timer) in
  enabled*)
    : ;;
  disabled)
    systemctl --user enable toolbox-autoupdate.timer ;;
  masked*)
    echo "toolbox-autoupdate.timer is masked, not enabling." >&2 ;;
  bad)
    echo "toolbox-autoupdate.timer is invalid, not enabling." >&2 ;;
  not-found)
    echo "toolbox-autoupdate.timer not found." >&2 ;;
  *)
    echo "Error occured while running systemctl --user is-enabled toolbox-autoupdate.timer." >&2 ;;
esac
