"$schema" = 'https://starship.rs/config-schema.json'

add_newline = false

[directory]
truncation_length = 10
truncate_to_repo = false
fish_style_pwd_dir_length = 1

{{ if stat "/run/.toolboxenv" -}}
[container]
disabled = true
{{ end -}}
