#!/usr/bin/env bash
# .config/Code/User/settings.json hash: {{ include "dot_config/private_Code/User/settings.json.tmpl" | sha256sum }}

if [[ ! $(grep -i "WSL" /proc/sys/kernel/osrelease) ]]; then
  exit 0
fi

cp ~/.config/Code/User/settings.json /mnt/c/Users/{{ .chezmoi.username }}/AppData/Roaming/Code/User/settings.json
